<settings>

  <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
    <settingConfig type="alphaNumeric" readonly="true" />
  </setting>

  <setting propertyKey="@Properties.themeBackground" title="@Strings.themeBackgroundTitle">
    <settingConfig type="list">
      <listEntry value="1">@Strings.themeBackgroundOrange</listEntry>
      <listEntry value="2">@Strings.themeBackgroundPurple</listEntry>
      <listEntry value="3">@Strings.themeBackgroundDarkRed</listEntry>
      <listEntry value="0">@Strings.themeBackgroundTransparent</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.borderTimeColor" title="@Strings.borderTimeColorTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.borderTimeColorTransparent</listEntry>
      <listEntry value="1">@Strings.borderTimeColorOrange</listEntry>
      <listEntry value="2">@Strings.borderTimeColorWhite</listEntry>
      <listEntry value="3">@Strings.borderTimeColorBlack</listEntry>
      <listEntry value="4">@Strings.borderTimeColorGreen</listEntry>
      <listEntry value="5">@Strings.borderTimeColorBlue</listEntry>
      <listEntry value="6">@Strings.borderTimeColorPurple</listEntry>
      <listEntry value="7">@Strings.borderTimeColorDarkRed</listEntry>  
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.fillTimeColor" title="@Strings.fillTimeColorTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.fillTimeColorTransparent</listEntry>
      <listEntry value="1">@Strings.fillTimeColorOrange</listEntry>
      <listEntry value="2">@Strings.fillTimeColorWhite</listEntry>
      <listEntry value="3">@Strings.fillTimeColorBlack</listEntry>
      <listEntry value="4">@Strings.fillTimeColorGreen</listEntry>
      <listEntry value="5">@Strings.fillTimeColorBlue</listEntry>
      <listEntry value="6">@Strings.fillTimeColorPurple</listEntry>
      <listEntry value="7">@Strings.fillTimeColorDarkRed</listEntry>  
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.borderLineColor" title="@Strings.borderLineColorTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.borderLineColorBlack</listEntry>
      <listEntry value="1">@Strings.borderLineColorOrange</listEntry>
      <listEntry value="2">@Strings.borderLineColorWhite</listEntry>
      <listEntry value="3">@Strings.borderLineColorGreen</listEntry>
      <listEntry value="4">@Strings.borderLineColorBlue</listEntry>
      <listEntry value="5">@Strings.borderLineColorPurple</listEntry>
      <listEntry value="6">@Strings.borderLineColorDarkRed</listEntry>  
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.fillLineColor" title="@Strings.fillLineColorTitle">
    <settingConfig type="list">
      <listEntry value="0">@Strings.fillLineColorBlack</listEntry>
      <listEntry value="1">@Strings.fillLineColorOrange</listEntry>
      <listEntry value="2">@Strings.fillLineColorWhite</listEntry>
      <listEntry value="3">@Strings.fillLineColorGreen</listEntry>
      <listEntry value="4">@Strings.fillLineColorBlue</listEntry>
      <listEntry value="5">@Strings.fillLineColorPurple</listEntry>
      <listEntry value="6">@Strings.fillLineColorDarkRed</listEntry>  
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.stepsGoal" title="@Strings.stepsGoalTitle" prompt="@Strings.stepsGoalPrompt">
    <settingConfig type="numeric" min="1" errorMessage="@Strings.stepsGoalError"/>
  </setting>

  <setting propertyKey="@Properties.distancesGoal" title="@Strings.distancesGoalTitle" prompt="@Strings.distancesGoalPrompt">
    <settingConfig type="numeric" min="1" errorMessage="@Strings.distancesGoalError"/>
  </setting>

  <setting propertyKey="@Properties.caloriesGoal" title="@Strings.caloriesGoalTitle" prompt="@Strings.caloriesGoalPrompt">
    <settingConfig type="numeric" min="1" errorMessage="@Strings.caloriesGoalError"/>
  </setting>

  <setting propertyKey="@Properties.maxHeartRate" title="@Strings.maxHeartRateTitle" prompt="@Strings.maxHeartRatePrompt">
    <settingConfig type="numeric" min="30" max="210" errorMessage="@Strings.maxHeartRateError"/>
  </setting>

  <setting propertyKey="@Properties.showSec" title="@Strings.showSecTitle">
		<settingConfig type="boolean"/>
	</setting>

  <setting propertyKey="@Properties.use24Hour" title="@Strings.use24HourTitle">
		<settingConfig type="boolean"/>
	</setting>

  <setting propertyKey="@Properties.Field1Type" title="@Strings.DataField1Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HeartRate</listEntry>
			<listEntry value="1">@Strings.Step</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
			<listEntry value="3">@Strings.Distance</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.Field2Type" title="@Strings.DataField2Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HeartRate</listEntry>
			<listEntry value="1">@Strings.Step</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
			<listEntry value="3">@Strings.Distance</listEntry>
		</settingConfig>
	</setting>

</settings>